version: "2.2"
    
services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: somewordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress


# docker volume create --driver local \
#     --opt type=none \
#     --opt device=$(pwd)/db_data \
#     --opt o=bind db_data

# docker volume create --driver local \
#     --opt type=none \
#     --opt device=$(pwd)/wordpress_data \
#     --opt o=bind wordpress_data
volumes:
  db_data:
    external: true
  wordpress_data: 
    external: true